
header {
    width: 100%;
    position: fixed;
    max-height: 70px;
    z-index: 100;
  
    nav {
      display: flex;
      width: 90%;
      margin: auto;
      justify-content: space-between;
  
      max-height: 70px;
  
  
      & .logo {
        border-radius: 0 0 15px 15px;
  
        img {
          object-fit: cover;
          height: 120px;
        }
      }
  
      ul {
        display: flex;
        border-radius: 0 0 15px 15px;
        box-shadow:  20px 20px 40px #00000071,
        -20px -20px 40px #ffffff00;
  
        li {
          background: $white-color;
             
          display: flex;

          transition: 1s;
  
          a {
            display: flex;
            justify-content: center;
  
            width: 170px;
            padding: 20px 45px;

            color: $text-color;
          }
  
          &:first-child {
            border-radius: 0 0 0 15px;
          }
          &:last-child {
            border-radius: 0 0 15px 0;
          }
  
          &.active {
            background: $akcent-color;
            box-shadow: inset 5px 5px 8px darken($akcent-color, 5),
            inset -5px -5px 8px lighten($akcent-color, 5) ;



            a{
              color: $white-color;
            }
          }
  
          &:hover,
          &:focus {
            transition: 0.3s;
            background-color:  lighten($akcent-color, 5) ;
            box-shadow:none;
            a{
              color: $white-color;
            }
          }
        }
      }
    }
  }