footer {
  width: 100vw;
  overflow: hidden ;
  height: 500px;
  padding: 5%;
  background-color: $akcent-color;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  justify-items: center;

  * {
    color: $white-color;
  }

  .text-content{
    width: min(80%,1000px);
    margin-bottom: 50px;
    margin-top: 50px;
  }
  h2{
    font-size: 1.5rem;
    text-align: center;
  }

  svg {
    font-size: 2.5rem;
  }
  .number {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    svg {
      margin-right: 15px;
    }
    a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }



  .social::before {
    content: "";
    position: absolute;
    width:  15vw;
    border: 1px solid $white-color;
    left: -15vw;
    top: 50%;
  }
  .social::after {
    content: "";
    position: absolute;
    width: 15vw;
    border: 1px solid $white-color;
    right: -15vw;
    top: 50%;
  }
  .social {
    li {
      display: flex;
      justify-content: center;
      align-items: center;

      border: 1px solid $white-color;
      border-radius: 15px;
      width: 60px;
      height: 60px;
    }
    position: relative;
    margin: auto;
    width: 300px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
