
header {
    width: 100%;
    position: fixed;
    max-height: 70px;
    z-index: 100;
  
    nav {

      display: flex;

      width: 90%;
      @media screen and (max-width: 900px) {
        width: 100%;
      }
      margin: auto;
      justify-content: space-between;
  
      max-height: 70px;
  
  
      & .logo {
        border-radius: 0 0 15px 15px;
        @media screen and (max-width: 900px) {
          display: none;
        }
        img {
          object-fit: cover;
          height: 180px;
          margin-top: -40px;
        }
      }
  
      ul {
        display: flex;


        border-radius: 0 0 15px 15px;
        box-shadow:  20px 20px 40px #00000071,
        -20px -20px 40px #ffffff00;
  
        li {
          background: $white-color;
             
          display: flex;

          transition: 1s;
  
          a {
            display: flex;
            justify-content: center;
  
            width: 200px;
            padding: 20px 2%;

            color: $text-color;

            @media screen and (max-width: 900px) {
              width: 33vw;
              
            padding: 10px 10px;
            font-size: 0.8rem;
            }
          }
  
          &:first-child {
            border-radius: 0 0 0 15px;
            @media screen and (max-width: 900px) {
              border-radius: 0 0 0 0;
            }
          }
          &:last-child {
            border-radius: 0 0 15px 0;
            @media screen and (max-width: 900px) {
              border-radius: 0 0 0 0;
            }
          }
  
          &.active {
            background: $akcent-color;
            box-shadow: inset 5px 5px 8px darken($akcent-color, 5),
            inset -5px -5px 8px lighten($akcent-color, 5) ;



            a{
              color: $white-color;
            }
          }
  
          &:hover,
          &:focus {
            transition: 0.3s;
            background-color:  lighten($akcent-color, 5) ;
            box-shadow:none;
            a{
              color: $white-color;
            }
          }
        }
      }
    }
  }